.banner {
  position: relative;
  padding: 40px 0;
}

/* full viewport width coloured strip */
.banner:nth-child(even):before {
  content: '';
  position: absolute;
  top: 0;
  /* values account for conditional sidebar */
  /* overflow hidden at the document root */
  left: -100vw;
  width: 200vw;
  height: 100%;
  background-color: #e2e6f0;
}